#a{
border-style: double;
border-color: black;
background-color: rgb(199, 206, 122);
}
html{
    color:black;
    text-align: center;
}
tr{
    border-radius: 10%;
}
table{
    border-radius: 10%;
}
td.a{
    background-color: blue;
}
td.b{
    background-color: aqua;
}
table.c{
    background-color: aquamarine;
}
td.d{
    background-color: rgb(255, 208, 205);
}
